.bg-image {
    margin-top: -83px;
    height: 753px;
    background-position: center center;
    background-size: 100% 100%;
}
.rideCard{
    margin: -570px 250px 0px 250px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

